@model MiniWeb.Core.ContentItem
<article miniweb-template="@Model.Template">
	<a miniweb-prop="link" href="#" alt="" miniweb-attributes="href,alt">link demo</a>
	<img src="/images/saved/msnPic.jpg" miniweb-prop="image" miniweb-attributes="src" />
</article>