@model MiniWeb.Core.ContentItem
<article miniweb-template="@Model.Template">
	<a miniweb-prop="link" href="#" title="" miniweb-attributes="href,title">link demo</a>
	<img src="/" alt="image" miniweb-prop="image" miniweb-attributes="src,alt" />
</article>