@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@{
	Layout = "~/Views/_layout.cshtml";
}
<div>
	<form action="@Model.Url" method="post" role="form" class="col-md-5 col-md-offset-3 miniweb-login" id="login">
		<fieldset>
			<h1 class="text-center">Sign in</h1>

			
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus />
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
			</div>
			<div class="form-group">
				<input type="checkbox" id="remember" name="remember" value="true" />
				<label for="remember">&nbsp;Remember me</label>
			</div>

			<button type="submit" class="btn btn-primary">Sign in</button>
		</fieldset>

	</form>

    <hr />
   
    <h4>Use another service to log in.</h4>
   
    <form action="@Model.Url" method="post" class="form-horizontal" role="form">
        <div>
            <p>
                <button type="submit" class="btn btn-default" name="provider" value="MiniWebCms-Github" title="Log in using your GitHub account">GitHub-AccessToken</button>
						 
            </p>
        </div>
    </form>
				

</div>