body {
	margin-top: 3.5em;
}

body.preview {
	margin-top: inherit;
}

body.preview miniwebadmin {
	display: none;
}

miniwebadmin #miniweb-templates,
miniwebadmin .modal,
miniwebadmin #tools {display: none;}
miniwebadmin .is-hidden {
	display: none !important;
}

miniwebadmin > aside {
	position: fixed;
	top: 3rem;
	width: 400px;
	left: 40%;
	z-index: 100;
}
miniwebadmin > aside .alert {
	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;	
}
miniwebadmin > aside .alert.alert-success {
	color: #3c763d;
    background-color: #dff0d8;
}


miniwebadmin .modal.show {
	display: block !important;
	position: fixed;
	top: 3em;
	left: 0;
	width: 100%; 
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
}
miniwebadmin .modal .modal-content {
	width: 30em;
	background-color: white;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
miniwebadmin .modal .modal-content .right {
	position: absolute;
	right: 0;
	top:0;
}

miniwebadmin .miniweb-tools {
	position: fixed;
	display: block;
	top:0;
	left:0;
	width: 100%;
	height: 3.5em;
	background-color: #f4f2df;
	font-size: 10pt;
}
miniwebadmin .miniweb-tools .miniweb-tool {
	float: left;
}
miniwebadmin .miniweb-tools .miniweb-tool.miniweb-status {
	width: 3em;
	height: 100%;
	background-color: red;
}
miniwebadmin .miniweb-tools .miniweb-tool.miniweb-status a {
	color:white;
	margin-top: 1.7em;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	width: 100%;
	text-decoration: none;
}
miniwebadmin .miniweb-tools .miniweb-tool.miniweb-status.published {
	background-color:  #f4f2df;
}
miniwebadmin .miniweb-tools .miniweb-tool .miniweb-horizontal-list {
	list-style: none;
	padding-left:0;
}
miniwebadmin .miniweb-tools .miniweb-tool .miniweb-horizontal-list li {
	display: inline-block;
}
miniwebadmin .pull-right {
	float:right!important;
}
miniwebadmin .miniweb-tools label {
	font-size: 12px;
	cursor: pointer;
}
miniwebadmin .miniweb-tools label input {
	margin:0
}
miniwebadmin .miniweb-tools  button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px 15px;
	position: relative;
}
miniwebadmin .miniweb-tools  button:hover {
	background-color: #dbd8be;
}
miniwebadmin .miniweb-tools  button:disabled {
	cursor: default;
	color: lightgrey;
	background: none;
}
miniwebadmin .miniweb-tools  button.icon {
	padding-left:20px;
}

miniwebadmin .icon:before {
	position: absolute;
	font-size: 15px;
	top:3px;
	left: 2px;
}

miniwebadmin .icon.icon-props:before {
	content: "\2634";
}
miniwebadmin .icon.icon-edit:before {
	content: "\2710";
}
miniwebadmin .icon.icon-save:before {
	content: "\1F5AB";
	font-weight: 700;
}
miniwebadmin .icon.icon-cancel:before {
	content: "\21ba";
	font-size: 18px;
	font-weight: 700;
	top: 0px;
}
miniwebadmin .icon.icon-signout:before {
	content: "\2BBF";
}
miniwebadmin .icon.icon-signout:hover:before {
	color:red;
}
miniwebadmin .icon.icon-new:before {
	content: "\002A";
	font-size: 23px;
}

miniwebadmin .form-group {
	width: 100%;
}
miniwebadmin .form-group label {
	display: inline-block;
	width: 30%;
	font-size: 12px;
}
miniwebadmin .form-group label + input {
	width:60%
}
miniwebadmin .form-group .input-group {
	display: inline-block;	
	width:60%
}



@media (max-width: 1024px) {
	miniwebadmin .miniweb-tools  button.icon  {
		font-size: 0;
		line-height: 15px;
	}

	miniwebadmin .miniweb-tools  button.icon span {
		display: none;
	}
	miniwebadmin .hidden-xs {
		display: none !important;
	}
	miniwebadmin .miniweb-tools .miniweb-tool.miniweb-status {
		width: 1em;
	}
	
	miniwebadmin .miniweb-tools  button {
		padding:0;
		width:15px;
		height: 22px;
	}
	miniwebadmin > aside {
		width: 90%;
		left:5%;
	}
}