@model MiniWeb.Core.IContentItem
<article miniweb-template="@Model.Template">
	<h2 miniweb-prop="title">Enter title</h2>
	<div miniweb-prop="content" miniweb-edittype="html">Enter content</div>
</article>