@model MiniWeb.Core.IContentItem
<article miniweb-template="@Model.Template">
	<div class="row">
		<div class="col-md-4">
			<img src="" alt="image" miniweb-prop="image" miniweb-attributes="src|asset,alt" />
		</div>
		<div class="col-md-4">
			<img src="" alt="image" miniweb-prop="image" miniweb-attributes="src|asset,alt" />
		</div>
		<div class="col-md-4">
			<img src="" alt="image" miniweb-prop="image" miniweb-attributes="src|asset,alt" />
		</div>
	</div>
</article>