body {
	margin-top: 50px !important;
}

.admin {
	margin-top: 50px;
}

#admin {
	font: 12pt arial;
	z-index: 5000;
}

	#admin .navbar-inner {
		min-height: 0;
		padding-top: 8px;
	}

	#admin .navbar-nav li.divider {
		border-left: 1px solid darkgray;
		height: 33px;
	}

	#admin button:focus {
		outline: 0;
		white-space: nowrap;
	}

	#admin #tools {
		position: relative;
		top: 5px;
		left: 10px;
		margin: 0 1em;
		display: none;
	}

		#admin #tools a {
			font-size: 14px;
			font-weight: bold;
			padding: 0 9px;
		}

		#admin #tools div:not(:last-child) {
			border-right: 1px solid gray;
		}

	#admin aside {
		position: absolute;
		top: 4em;
		text-align: center;
		width: 100%;
		display: none;
	}

		#admin aside .alert {
			display: inline-block;
			padding: 8px 1em;
		}

		#admin #showHiddenPages {
			position: relative;
			top: 5px;
			left: 10px;
		}

			#admin #showHiddenPages label {
				display: inline;
				position: relative;
				left: 4px;
				font-weight: normal;
			}

		#admin .navbar-header.offline {
			background: red;
		}

			#admin .navbar-header.offline a {
				color: white;
			}

			#admin .navbar-header .navbar-brand {
				float: left;
				height: 50px;
				padding: 15px 5px;
				font-size: 12px;
				line-height: 20px;
			}

miniwebadmin .miniweb.modal-dialog {
	margin-top: 60px;
}

#newContentAdd .modal-dialog .item-link {
	margin: 10px;
}

	#newContentAdd .modal-dialog .item-link span {
		width: 100px;
		display: inline-block;
	}


body.miniweb-editing [data-miniwebtemplate] {
	overflow: hidden;
}

body.miniweb-editing [contenteditable] {
	outline: thin dashed #ccc;
	width: 100%;
	display: inline-block;
}
body.miniweb-editing img[contenteditable] {
	width: auto;
	overflow:hidden;
	display:block;
}
body.miniweb-editing div[contenteditable] {
	margin-bottom: 10px;
}

body.miniweb-editing [contenteditable] img {
	cursor: move;
}

body.miniweb-editing [contenteditable]:before {
	background: #f4f2df;
	color: #777;
	content: attr(data-miniwebprop) ": ";
	white-space: nowrap;
	margin: 0 5px 0 0;
}

body.miniweb-editing div[contenteditable]:before {
	display: block;
	margin: 0;
}

body.miniweb-editing .editor-toolbar .btn {
	padding: 4px 8px;
}

body.miniweb-editing .miniweb-template-actions .btn.remove {
	color: darkred;
	display: inline-block;
}

body.miniweb-editing .miniweb-template-actions .btn.articleDown,
body.miniweb-editing .miniweb-template-actions .btn.articleUp {
	color: black;
}

body.miniweb-editing .miniweb-editing [data-miniwebtemplate] {
	margin: 10px -10px !important;
	padding: 10px;
	border: 1px dotted green;
	overflow: hidden;
}

body.miniweb-editing [data-miniwebtemplate]:first-child .miniweb-template-actions .btn.articleUp {
	visibility: hidden;
}
/*last child is add content button*/
body.miniweb-editing [data-miniwebtemplate]:nth-last-child(2) .miniweb-template-actions .btn.articleDown {
	visibility: hidden;
}

.miniweb-attributes {
	display:none;
	padding: 5px 0 5px 24px;
	margin: 5px 0;
	background: #f9f9f9;
}
.miniweb-attributes:before {
	content: "\e144";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: 20px
}

body.miniweb-editing .miniweb-attributes {
	display:block;
}

body.miniweb-editing aside > [data-miniwebtemplate].aside .editor-toolbar a {
	color: #428bca;
	font-size: 10px;
	padding: 4px;
}

body.miniweb-editing .btn.disabled,
body.miniweb-editing .btn[disabled],
body.miniweb-editing fieldset[disabled] .btn {
	opacity: 0.3;
}

.navbar-default .navbar-nav > li.miniweb-hidden-menu {
	display: none;
}

	.navbar-default .navbar-nav > li.miniweb-hidden-menu > a {
		color: grey;
	}


.miniweb-hidden-menu a:before {
	content: '[';
}

.miniweb-hidden-menu a:after {
	content: ']';
}

body.miniweb-editing .miniweb-insertcontent {
	margin-top: 20px;
}

#miniweb-templates {
	display:none;
}
body.miniweb-editing .miniweb-editonly {
	display:block;
}



@media (max-width: 1024px) {
	#admin .nav > li {
		display: inline-block;
	}

	#admin .nav > li button, #ispublished {
		padding-left: 8px;
		padding-right: 8px;
	}

	#admin .navbar-inner .btn i {
		padding: 0 5px;
	}

	#admin #showHiddenPages label span{
		display:none;
	}

}

@media screen and (max-width: 767px) {
	#admin .navbar-header {
		float: left;
	}

	#admin .nav > li {
		float: left;
		padding: 0 5px;
	}

	#admin.navbar.navbar-default button {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		background: none;
	}

	#admin .navbar-inner {
		min-height: 0;
		padding-top: 0px;
	}

	#admin .nav.navbar-nav form {
		padding-right: 15px;
	}

	#admin .navbar-inner .btn span {
		display: none;
		padding: 0 10px;
	}
}
