@model MiniWeb.Core.ContentItem
<article miniweb-template="@Model.Template" class="aside">
	<h3 miniweb-prop="title">Enter title</h3>
	<div miniweb-prop="content" miniweb-edittype="html">Enter content</div>
	<div miniweb-prop="other" miniweb-edittype="html">Enter other</div>
</article>
