body {
	font-family: Verdana,Helvetica,sans-serif;
}

h1, h2, h3, h4 {
	color: #5555ff;
	margin-bottom: 20px;
}
a {
	color: #5555ff;
}

h1 {
	font-size:  2em;
}
h2 {
	font-size:  1.8em;
}
h3 {
	font-size: 1.5em;
}
header {
	background: #5555ff;
	height: 120px;
	text-align: center;
	color: #fff;
	font-size: 4.5em;
}

.basic h1, .basic h2, .basic h3, .basic h4 {
	color: #111;
} 
.basic header {
	background: transparent;
	height: auto;
	margin: 10px 0
}
.container>.row {
	margin: 1em 0.5em;
}

img {
	max-width: 100%;
}

img[align=left], div[align=left] {
	padding: 0 10px 10px 0;
	float: left;
}

img[align=right], div[align=right] {
	padding: 0 0 10px 10px;
	float: right;
}

.navbar {
	background: #f4f2df;
}
.navbar.submenu {
	padding: 0;
}

footer {
	border-top: 1px solid #5555ff;
	margin: 40px 0 0;
	padding: 10px 0;
}
article + article {
	margin: 2em 0 0;
}

aside > article.aside > div {
	padding: 0.25em;
	margin: 0;
	font-size: 0.9em;
}

aside > article.aside > h3 {
	padding: 0.25em;
	margin: 0;
	font-size: 1em;
	background: #f4f2df;
}



.galleryimage {
	width: 250px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	float: left;
	text-align: center;
}

.galleryimage img {
	max-width: 100%;
	max-height: 90%;
	margin: auto;
}




@media screen and (min-width:990px) {
	body>.container-md, 
	body>.container {
		padding-right: 5rem !important;
		padding-left: 5rem !important;
	}
}
