body {
	font-family: Verdana,Helvetica,sans-serif;
}

h1, h2, h3, h4 {
	color: #5555ff;
	margin-bottom: 20px;
}
a {
	color: #5555ff;
}

h1 {
	font-size: 26px;
}
h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

.basic h1, .bye h2, .bye h3, .bye h4 {
	color: #111;
} 
.container header {
	background: #5555ff;
	height: 120px;
	text-align: center;
	color: #fff;
	font-size: 80px;
}
.basic .container header {
	background: transparent;
	height: auto;
	margin: 10px 0
}
.container>.row {
	margin-top: 1em;
	margin: 1em;
}

img {
	max-width: 100%;
}

img[align=left], div[align=left] {
	padding: 0 10px 10px 0;
	float: left;
}

img[align=right], div[align=right] {
	padding: 0 0 10px 10px;
	float: right;
}

.navbar {
	background: #f4f2df;
}
.navbar.submenu {
	padding: 0;
}


footer {
	border-top: 1px solid #5555ff;
	margin: 40px 0 0;
	padding: 10px 0;
}
article {
	margin-bottom: 30px;
}
aside > article.aside > div {
	padding: 5px;
	margin: 0;
	display: block;
	font-size: 12px;
}

aside > article.aside > h3 {
	padding: 5px;
	margin: 0;
	font-size: 15px;
	background: #f4f2df;
}

aside > article.aside > div a {
	color: black;
}


.galleryimage {
	width: 250px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	float: left;
	text-align: center;
}

	.galleryimage img {
		max-width: 100%;
		max-height: 90%;
		margin: auto;
	}




@media screen and (min-width:990px) {
	body>.container{
		padding-right: 5rem !important;
		padding-left: 5rem !important;
	}
}
